body {
    font-family: "Poppins", sans-serif;
    background: #f7f7fb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo span {
    display: inline-block;
    font-size: 40px;
    color: #f97cd6;
    margin: 0 2px;

    position: relative;
}
.cards {
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
        /* organiza em colunas simples */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}


.cards a {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    display: block;
}


.cards a:hover {
    background-color: #ecbcdc;
}

.cards a span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #78004a;
}

.titulo {
    display: inline-block;
    padding: 15px;
    border: 4px solid #ff77c7;   /* quadrado rosa */
    border-radius: 10px;          /* deixa mais fofinho */
    background-color: #ffe7f5;    /* rosa bem clarinho */
}
